<div id="add-todo-form">
  <div class=form-bg>
  </div>
  <div class="form-container">


    <div class="card-header">
      <h2>Новая задача</h2>
    </div>

    <%= form_with model: @todo,
      url: project_todos_path(:project_id),
      id: "todo-create-form",
      local: true do |form| %>

      <p>
        <%= form.text_field :text, placeholder: "Название задачи..." %>
      </p>

      <p>
        <%= form.select :project_id,
          @projects.collect { |project| [ project.title, project.id ] },
          include_blank: true %>
      </p>

      <p>
        <%= link_to "ОТМЕНА", root_path, id: "cancel-link", class: "button" %>
        <%= link_to "ОК", root_path, id: "submit-link", class: "button" %>
      </p>

    <% end %>
  </div>
  
</div>