<header class="header">
  <h1 class="heading">Задачи</h1>

  <%= link_to image_tag("addTodoIcon.png"), root_path, id: "add-todo-link", class: "add-todo-link" %>
</header>

<div class="container">
  <% @projects.each do |project| %>
    <div class="col-xs-12 col-md-6 col-lg-4">
      <div class="project">
        <div class="card-header">
          <h2><%= project.title %></h1>
        </div>
  
          <ul>
            <% project.todos.each do |todo| %>

              <li>

                <%= form_with model: todo,
                url: project_todo_path(todo.project_id, todo.id),
                method: :patch do |form| %>

                  <%= form.check_box todo.isCompleted, {checked: todo.isCompleted, id: "todo_#{todo.id.to_s}"}  %>
                  
                  <%= form.label todo.text, for: "todo_#{todo.id.to_s}" do %>
                    <span><%= todo.text %></span>
                  <% end %>

                <% end %>

              </li>

            <% end %>
          </ul>

      </div>
    </div>

  <% end %>
</div>

<%= render 'form' %>